<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key ="SourcePath" value="C:\Users\mikke\OneDrive - Aarhus universitet\AU\ST\7.Semester\Bachelor\RTDS_TestStubs\CBCT\Acquisitions\746879825"/>
  <add key ="BaseTargetPath" value="C:\Users\mikke\Desktop\SourceFolder"/>
  <add key ="FileType" value="*.xim"/>
  <add key ="Amount" value="40"/>
  <add key ="StartingProjection" value="0"/>
  <add key ="Frequency" value="10"/>
  <add key ="Mode" value="Normal"/>
</appSettings>
